{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Welome to the most amazing journey!</h1>
    <img src="/img/cover.jpg" alt="Cover image">
  </hero>
  <p>This webbpage will take you on an amazing adventure!</p>
  <p>Please insert Post code so the player can enter theire name!</p>
  <p>The dense jungle was filled with unfamiliar sounds and a thick, humid air that made it hard to breathe. 
    For as long as she could remember, Aria had been living in this jungle, never knowing a life outside of its boundaries. 
    But as she grew older, she yearned for something more, something beyond the endless trees and vines that surrounded her.
    What obstacles could potentially be in her way?</p>

<form action="/username" method="post">
  <label for="username">Enter your password:</label>
  <input type="text" id="username" name="username" placeholder="Enter your name here">
  <input type="submit" value="submit">

  <p><a href="/story/0"> Click here to find out.</a></p>
</main>
{% endblock %}