body {
  font-family: 'Junge', cursive;
  
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #000f03;
}

img {
  max-width: 100%;
  border: 4px solid rgb(0, 53, 10);
}

.container {
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
